{% extends 'base.html' %}

{% load static %}
{% load utils %}

{% block title %}
  <title>{{ film.movie_name }} Preview</title>

  <style>
    .results {
      font-family: 'Lato', sans-serif;
    }
    .norounds {
      border-radius: 0px;
    }
    .imagestyle {
      .imagestyle {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra mais leve e natural */
        border-radius: 8px;
      }
    }
    #movie-content {
      margin-top: 30px;
      background-color: #1f2937;
      color: #f8f9fa;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
    .btn-danger {
      font-size: 1rem;
      font-weight: bold;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
    .btn-danger:hover {
      background-color: #ff4d4d;
      transform: scale(1.05);
    }
    h1,
    h2,
    h3 {
      font-weight: bold;
    }
    p {
      line-height: 1.6;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container" id="movie-content">
    <div class="row">
      <!-- Movie Poster Section -->
      <div id="movie-poster" class="col-md-4 d-flex justify-content-center align-items-center">
        <div class="card text-center border-0" style="width: 18rem;">
          <img class="card-img-top imagestyle" src="{{ film.url }}" alt="Poster de {{ film.movie_name }}" />

          <a href="/show?date={{ '%Y-%m-%d'|cdateadd:'1' }}" class="btn btn-danger w-100">Adquira Seu Ingresso</a>
        </div>
      </div>

      <!-- Movie Info Section -->
      <div id="movie-info" class="col-md-8">
        <div class="mb-4">
          <h1 class="display-4">{{ film.movie_name }}</h1>
          <h2 class="text-muted">{{ film.movie_year }}</h2>
          <h3 class="text-info">{{ film.movie_lang }} | {{ film.movie_genre }}</h3>
        </div>
        <div class="mb-4">
          {% if showtimes %}
            <p>
              <strong>Horários Disponíveis:</strong>
            </p>
            <div class="d-flex flex-wrap">
              {% for show in showtimes %}
                <a href="/show?date={{ '%Y-%m-%d'|cdateadd:'1' }}" class="btn btn-danger m-2">{{ show.showtime|tformat:'%I:%M %p' }}</a>
              {% endfor %}
            </div>
          {% else %}
            <p class="text-warning">
              <em>Sem exibições disponíveis, tente depois.</em>
            </p>
          {% endif %}
        </div>
        <p>{{ film.movie_plot }}</p>
      </div>
    </div>
  </div>
{% endblock %}
