{% extends '../admin_base.html' %}
{% load static %}
{% load utils %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Deletar Exibição - Admin</title>
{% endblock %}

{% block content %}
  <h1 class="mt-4">Show</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="/admin">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/admin/shows">Exibições</a>
    </li>
    <li class="breadcrumb-item active">Deletar Exibição</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <h2 class="my-2">Deletar Exibição</h2>
    </div>
    <div class="card-body">
      <!-- Django Model Form -->
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <img class="card-img-top" src="{{ object.movie.url }} " style="width: 18rem;" />
          </div>
          <div class="col">
            <p>Nome do Filme : {{ object.movie }}</p>
            <p>Ano: {{ object.movie.movie_year }}</p>
            <p>Data de Início: {{ object.start_date }}</p>
            <p>Data de Fim: {{ object.end_date }}</p>
            <p>Preço: {{ object.price }}</p>
            <p>Horário: {{ object.showtime }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <button class="btn btn-danger my-4" type="submit">Confirmar Exclusão</button>
              <a class="btn btn-danger my-4" href="/admin/movies">Voltar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% comment %}
{% block footer %}

{% endblock %} {% endcomment %}
